// define our key path and nodes
ssh_key_path = "files/key.pem"
nodes = [
  { 
    external: "3.235.40.201",
    internal: "172.31.81.105",
    name: "node1"
  },
  {
    external: "3.235.144.146",
    internal: "172.31.81.176",
    name: "node2"
  }
]